:root {
  --page-width: 48rem;
  --bg: rgb(34 34 34);
  /*--table-bg: #f8f8f8;*/
  --table-bg: #253237;
  --body: #ececec;
  --font-main: 'GroteskNormal', sans-serif;
  --font-bold: 'GroteskBold', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.05em;
  font-family: var(--font-main);
}

body {
  margin: 8px;
  background-color: var(--bg);
  color: var(--body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  font-size: 2.75em;
  line-height: 1.3;
  text-align: center;
  color: rgb(249 94 54);
  font-family: var(--font-bold);
  margin: 1.5em 0;
}

abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dashed;
}

main {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-bottom: 2rem;
}

header {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

/*Table*/
.crypto__container {
  margin: 3rem 0;
  border-radius: 5px;
  overflow-x: auto;
  border: 1px solid rgb(209 209 209 / 8%);
  background-color: var(--table-bg);
  box-shadow: rgb(0 0 0 / 2%) 0 1px 2px 0;
  border-bottom: none;
}

table {
  border-radius: 5px;
  border-collapse: collapse;
  /*background-color: var(--table-bg);*/
  /*color: white;*/
}

.ticker {
  /*font-family: Euclid, Helvetica Neue, sans-serif;*/
  font-weight: bold;
}

.ticker.positive {
  color: #44bf44;
}

.ticker.negative {
  color: #db3b3b;
}

td, th {
  padding: 1em 0.75em;
}

th {
  font-family: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 1rem;
  font-weight: 700;
  font-size: 0.6em;
}

thead tr {
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(209 209 209 / 8%);
  z-index: 1;
  padding-top: 1rem;
}

td {
  border-bottom: 1px solid rgb(209 209 209 / 8%);
  font-size: 0.9em;
  font-weight: 500;
}

.crypto__container .crypto__list {
  width: 100%;
  position: relative;
}

.crypto__container .crypto__list--header th {
  text-align: left;
}

.inputStyle {
  border-bottom: 1px solid rgb(209 209 209 / 8%);
  padding: 0.5em;
}

.inputStyle input,
.inputStyle select {
  height: 40px;
  font-family: var(--font-bold);
  font-size: 0.8em;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(209 209 209 / 8%);
  padding: 0.6em 1em 0.5em;
  background-color: #384c58;
  color: inherit;
}

.inputStyle input:active,
.inputStyle input:focus,
.inputStyle select:active,
.inputStyle select:focus {
  outline: none;
  border: 1px solid rgb(209 209 209 / 8%);
}

.filterSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}