:root {
  --page-width: 64rem;
  --bg: #1c2127;
  --table-bg: #22272d;
  --body: #adbac7;
  --font: "Maison Neue", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.05em;
  font-family: var(--font);
}

body {
  margin: 8px;
  background-color: var(--bg);
  color: var(--body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-feature-settings: "liga","kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  font-size: 4.45em;
  line-height: 1.25;
  color: #8d9ba8;
  margin: 1.5em 0 0.5em;
  font-weight: 900;
  text-align: center;
}

h1 small {
  font-size: 0.8em;
  color: #cdd9e5;
  display: block;
}

p {
  line-height: 1.4em;
  margin: 0 0 20px;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dashed;
}

main {
  padding-bottom: 2rem;
}

footer {
  text-align: center;
  color: #757d84;
  font-size: 0.9em;
}

footer a {
  font-weight: 700;
  text-decoration: underline;
  color: inherit;
}

main, footer {
  margin: 0 auto;
  max-width: var(--page-width);
}

header {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.crypto__container {
  margin: 6rem 0 3rem;
  border-radius: 5px;
  overflow-x: auto;
  background-color: var(--table-bg);
  border: 1px solid #383f47;
}

table {
  border-radius: 5px;
  border-collapse: collapse;
}

.ticker {
  font-weight: bold;
}

.ticker.positive {
  color: #44bf44;
}

.ticker.negative {
  color: #db3b3b;
}

td, th {
  padding: 0.65em 0.75em;
}

th {
  border-top: 1px solid #383f47;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.8rem 0.7rem 0.7rem;
  font-weight: 900;
  font-size: 0.65em;
}

thead tr {
  border-bottom: 1px solid #383f47;
  z-index: 1;
  padding-top: 1rem;
}

tr:last-of-type td {
  border: none;
}

td {
  border-bottom: 1px solid #383f47;
  font-size: 0.85em;
  font-weight: 500;
}

tr {
  border-radius: 5px;
}

td.withIMG {
  font-weight: 700;
}

td.withIMG > span {
  vertical-align: middle;
  margin-right: 10px !important;
}

td.actions a {
  font-weight: 700;
  border-radius: 5px;
  display: block;
  font-size: 0.8rem;
  padding: 4px 1px;
  background-color: #373e47;
  text-align: center;
  color: #adbac7;
  border: 1px solid rgba(205,217,229,0.1);
}

td.actions .imgWrapper {
  transform: rotate(90deg);
  display: inline-block;
}

td.actions a:last-of-type {
  margin: 0;
}

.crypto__container .crypto__list {
  width: 100%;
  position: relative;
}

.crypto__container .crypto__list--header th {
  text-align: left;
}

.inputStyle {
  padding: 15px 0;
}

.inputStyle select {
  height: 40px;
  font-size: 0.8em;
  border-radius: 5px;
  width: 100%;
  padding: 0.6em 1em 0.5em;
  background-color: #1c2128;
  font-weight: 700;
  color: var(--body);
  border: 1px solid #383f47;
  font-family: inherit;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}

.inputStyle select:active,
.inputStyle select:focus {
  outline: none;
}

.filterSection, .crypto__tools {
  display: grid;
}

.filterSection {
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 20px;
  padding: 0 20px;
}

.crypto__tools {
  grid-column-gap: 80px;
  grid-template-columns: 1fr 1fr;
}

.crypto__tools_content a {
  background-color: #fdd361;
  border: none;
  box-shadow: 2px 4px 20px rgb(179 140 252 / 20%);
  color: #5d7451;
  transition: background .3s ease,box-shadow .3s ease;
  border-radius: 10px;
  padding: 15px 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 0.95rem;
}

.crypto__tools_img {
  text-align: center;
}

.crypto__tools_img > span {
  box-shadow: 2px 4px 15px rgb(177 174 196 / 20%);
  width: 72px;
  height: 72px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
}

.crypto__tools_img > span > span {
  transform: translateY(calc(50% + 5px));
}

.crypto__tools > div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 20px;
}

.crypto__tools > div h2 {
  margin-top: 0;
}

.crypto__btn {
  padding: 15px 0;
}

.crypto__btn a {
  font-weight: 700;
  text-align: center;
  display: block;
  font-size: 0.95em;
  border-radius: 5px;
  padding: 0.65em 1em;
  background-color: #ffd08a;
  color: #383f47;
}