:root {
  --page-width: 64rem;
  --bg: #fefefe;
  /*--table-bg: #f8f8f8;*/
  --table-bg: #253237;
  --body: rgb(10, 11, 13);
  --font-main: 'Maison Neue', sans-serif;
  --font-bold: 'GroteskBold', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.05em;
  font-family: var(--font-main);
}

body {
  margin: 8px;
  /*background-color: var(--bg);*/
  color: var(--body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: var(--font-main);
}

h1 {
  font-size: 2.75em;
  line-height: 1.3;
  text-align: center;
  color: rgb(249 94 54);
  margin: 1.5em 0;
}

p {
  line-height: 1.4em;
  margin: 0;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-family: var(--font-bold);
}

abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dashed;
}

main {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-bottom: 2rem;
}

header {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

/*Table*/
.crypto__container {
  margin: 3rem 0 3rem;
  border-radius: 5px;
  overflow-x: auto;
  /*box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 3%), 0 0 180px 0 rgb(0 0 0 / 3%);*/
  border-bottom: none;
}

table {
  border-radius: 5px;
  border-collapse: collapse;
}

.ticker {
  font-weight: bold;
}

.ticker.positive {
  color: #44bf44;
}

.ticker.negative {
  color: #db3b3b;
}

td, th {
  padding: 0.65em 0.75em;
}

th {
  font-family: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.8rem 0.7rem 0.7rem;
  font-weight: 700;
  font-size: 0.6em;
}

thead tr {
  border-bottom: 1px solid rgb(159 154 154 / 10%);
  z-index: 1;
  padding-top: 1rem;
}

td {
  border-bottom: 1px solid rgb(159 154 154 / 10%);
  font-size: 0.9em;
  font-weight: 400;
}

/*tr:hover {*/
/*  background-color: rgb(239, 242, 245);*/
/*}*/

td.withIMG {
  font-weight: 700;
}

td.withIMG img {
  margin-right: 10px;
  vertical-align: middle;
}

td.actions a {
  font-weight: 700;
  border-radius: 10px;
  display: block;
  font-size: 0.6rem;
  padding: 7px 9px;
  background-color: #e9e6ce;
  text-align: center;
  font-family: var(--font-bold);
  color: rgb(93 116 81);
  text-transform: uppercase;
  letter-spacing: 1px;
}

td.actions a:hover {
  background-color: #e6e3b7;
}

td.actions a:last-of-type {
  border: none;
}

td.actions .imgWrapper {
  transform: rotate(90deg);
  display: inline-block;
}

td.actions a:last-of-type {
  margin: 0;
}

.crypto__container .crypto__list {
  width: 100%;
  position: relative;
}

.crypto__container .crypto__list--header th {
  text-align: left;
}

.inputStyle {
  border-bottom: 1px solid rgb(159 154 154 / 10%);
  padding: 0.5em;
}

.inputStyle input,
.inputStyle select {
  height: 40px;
  font-family: var(--font-main);
  font-size: 0.8em;
  border-radius: 5px;
  width: 100%;
  border: none;
  padding: 0.6em 1em 0.5em;
  background-color: rgb(239, 242, 245);
  font-weight: 700;
  color: inherit;
}

.inputStyle select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.inputStyle input:active,
.inputStyle input:focus,
.inputStyle select:active,
.inputStyle select:focus {
  outline: none;
  border: none;
}

.filterSection, .crypto__tools {
  display: grid;
}

.filterSection {
  grid-template-columns: 1fr 1fr 1fr;
}

.crypto__tools {
  grid-column-gap: 80px;
  grid-template-columns: 1fr 1fr;
}

.crypto__tools_img {
  text-align: center;
}

.crypto__tools > div {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.crypto__tools > div h2 {
  margin-top: 0;
}