:root {
  --page-width: 48rem;
  --bg: hsl(199, 15%, 13%);
  /*--table-bg: #f8f8f8;*/
  --table-bg: #253237;
  --body: #ececec;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.05em;
  font-family: 'Questrial', sans-serif;
}

body {
  margin: 8px;
  background-color: var(--bg);
  color: var(--body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  /*font-family: Euclid, Helvetica Neue, sans-serif;*/
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
  line-height: 1.15;
}

abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dashed;
}

main {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-bottom: 2rem;
}

header {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

/*Table*/
.crypto__container {
  margin: 3rem 0;
  border-radius: 5px;
  overflow-x: auto;
  border: 1px solid rgb(209 209 209 / 8%);
  background-color: var(--table-bg);
  box-shadow: rgb(0 0 0 / 2%) 0 1px 2px 0;
  border-bottom: none;
}

table {
  border-radius: 5px;
  border-collapse: collapse;
  /*background-color: var(--table-bg);*/
  /*color: white;*/
}

.ticker {
  /*font-family: Euclid, Helvetica Neue, sans-serif;*/
  font-weight: bold;
}

.ticker.positive {
  color: #44bf44;
}

.ticker.negative {
  color: #db3b3b;
}

td, th {
  padding: 1em 0.75em;
}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 1rem;
  font-weight: 700;
  font-size: 0.7em;
}

thead tr {
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(209 209 209 / 8%);
  z-index: 1;
  padding-top: 1rem;
}

td {
  border-bottom: 1px solid rgb(209 209 209 / 8%);
  font-family: 'Questrial', sans-serif;
  font-size: 0.95em;
  font-weight: 500;
}

.crypto__container .crypto__list {
  width: 100%;
  position: relative;
}

.crypto__container .crypto__list--header th {
  text-align: left;
}

.triggerBtn {
  background-color: white;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 2px 0;
  border: 1px solid rgb(209 209 209 / 8%);
  font-size: 0.85em;
  letter-spacing: 0.1em;
  font-weight: 700;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 15px;
  text-transform: uppercase;
  color: var(--bg);
}

.searchSection {
  border-bottom: 1px solid rgb(209 209 209 / 8%);
  padding: 0.5em;
}

.searchSection input {
  font-size: inherit;
  font-family: 'Questrial', sans-serif;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(209 209 209 / 8%);
  padding: 0.5em 1em;
  background-color: #384c58;
}

.searchSection input:active,
.searchSection input:focus {
  border-color: #118cfd;
}